<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/bootstrap3/js/jquery-1.9.1.min.js"></script>
    <script src="../js/bootstrap3/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../js/bootstrap3/css/bootstrap.css">

    <script src="../js/bootstrap-treeview/bootstrap-treeview.min.js"></script>
    <link rel="stylesheet" href="../js/bootstrap-treeview/bootstrap-treeview.min.css">

    <!-- 选项卡插件 -->
    <script src="../js/bootStrap-addTabs/bootstrap.addtabs.min.js"></script>
    <link rel="stylesheet" href="../js/bootStrap-addTabs/bootstrap.addtabs.css">

    <!-- 表格插件 -->
    <script src="../js/bootstrap-table/bootstrap-table.js"></script>
    <link rel="stylesheet" href="../js/bootstrap-table/bootstrap-table.css">
    <script src="../js/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>

    <!-- 时间插件 -->
    <script src="../js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <link rel="stylesheet" href="../js/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
    <script src="../js/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>

    <!-- 弹框插件 -->
    <script src="../js/bootstrap-bootbox/bootbox.js"></script>

    <!-- 上传插件 -->
    <script src="../js/bootstrap-fileinput/js/fileinput.js"></script>
    <link rel="stylesheet" href="..js/bootstrap-fileinput/css/fileinput.css">
    <script src="../js/bootstrap-fileinput/js/locales/zh.js"></script>
</head>
<body>
<div class="container-fluid">
    <form class="form-horizontal" id="imgForm">
        <input type="hidden" id="carId" class="form-control" name="carId" th:value="${session.carId}"/>
        <div class="form-group">
            <label for="imgId" class="col-sm-2 control-label">图片</label>
            <div class="col-sm-10">
                <input type="text" id="testimg" name="imgurl">
                <input type="file" id="imgId" class="projectfile" name="img">
            </div>
        </div>
    </form>
</div>

</body>
<script>

        $('#imgId').fileinput({
            language: 'zh', //设置语言
            uploadUrl: 'http://127.0.0.1:9999/Car/updaloadImg', //上传的地址
            allowedFileExtensions: ['jpg', 'gif', 'png'],//接收的文件后缀
            showUpload: true, //是否显示上传按钮
            showCaption: false,//是否显示标题
            browseClass: "btn btn-primary", //按钮样式
            //dropZoneEnabled: false,//是否显示拖拽区域
            //minImageWidth: 50, //图片的最小宽度
            //minImageHeight: 50,//图片的最小高度
            //maxImageWidth: 1000,//图片的最大宽度
            //maxImageHeight: 1000,//图片的最大高度
            //maxFileSize: 0,//单位为kb，如果为0表示不限制文件大小
            //minFileCount: 0,
            maxFileCount: 7, //表示允许同时上传的最大文件个数
            enctype: 'multipart/form-data',
            validateInitialCount:true,
            previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
            msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",

        }).on('fileuploaded', function(event, data, previewId, index) {
            var img = data.response.path;
            $('#testimg').val(img);
        });

</script>
</html>