<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/bootstrap3/js/jquery-1.9.1.min.js"></script>
    <script src="../js/bootstrap3/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../js/bootstrap3/css/bootstrap.css">

    <script src="../js/bootstrap-treeview/bootstrap-treeview.min.js"></script>
    <link rel="stylesheet" href="../js/bootstrap-treeview/bootstrap-treeview.min.css">

    <!-- 选项卡插件 -->
    <script src="../js/bootStrap-addTabs/bootstrap.addtabs.min.js"></script>
    <link rel="stylesheet" href="../js/bootStrap-addTabs/bootstrap.addtabs.css">

    <!-- 表格插件 -->
    <script src="../js/bootstrap-table/bootstrap-table.js"></script>
    <link rel="stylesheet" href="../js/bootstrap-table/bootstrap-table.css">
    <script src="../js/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>

    <!-- 时间插件 -->
    <script src="../js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <link rel="stylesheet" href="../js/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
    <script src="../js/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>

    <!-- 弹框插件 -->
    <script src="../js/bootstrap-bootbox/bootbox.js"></script>
</head>
<body>

<div id="carTable">
    <button type="button" onclick="openAdd()" class="btn btn-info">新增</button>
    <button type="button" onclick="deleteAll()" class="btn btn-danger">批量删除</button>
</div>

</body>
<script>


    $(function(){
        initCarTable();
    })

    function initCarTable(){
        $("#carTable").bootstrapTable({
            url:"http://127.0.0.1:9999/Car/queryCar",
            pagination: true, //是否展示分页
            pageList: [1, 2, 3, 4, 5],//分页组件
            pageNumber: 1,
            pageSize: 3,//默认每页条数
            //search:true,//是否显示搜索框
            //searchText:'试试',//初始化搜索文字
            queryParams: function () { // 请求服务器数据时发送的参数，可以在这里添加额外的查询参数，返回false则终止请求
                //console.log(params)
                return {
                    page: this.pageNumber, // 每页显示数据的开始行号
                    rows: this.pageSize, // 每页要显示的数据条数,
                    // dataId: $("#dataId").val() // 额外添加的参数,
                }
            },
            showColumns: false,//是否显示 内容列下拉框
            showToggle: false,//是否显示 切换试图（table/card）按钮
            showPaginationSwitch: false,//是否显示 数据条数选择框
            showRefresh: false,//是否显示刷新按钮
            detailView: false,//设置为 true 可以显示详细页面模式。
            showFooter: false,//是否显示列脚
            clickToSelect: true, //是否启用点击选中行
            sidePagination: 'server',//分页方式：client客户端分页，server服务端分页（*
            striped: true,
            columns:[
                {checkbox:true},
                {field:"id",title:"主键Id"},
                {field:"img",title:"封面",formatter:function(data){
                        return "<img width='50px' height='50px' src='"+data+"'/>"
                    }},
                {field:"brandName",title:"品牌"},
                {field:"seriesName",title:"车系"},
                {field:"price",title:"价格",onDblClickRow:function(value,row,index){
                       alert(1)
                    }},
                {field:"carAgeName",title:"车龄"},
                {field:"createTime",title:"变速箱",formatter:function(value,row,index){
                    return value == 1 ? '自动':'手动';
                 }},
                {field:"carModelName",title:"车型"},
                {field:"mileageName",title:"里程表"},
                {field:"carCerNmae",title:"排量表"},
                {field:"carSeatName",title:"座位数表"},
                {field:"carFuelName",title:"燃油类型"},
                {field:"colorName",title:"颜色"},
                {field:"license",title:"牌照",formatter:function(value,row,index){
                        return value == 1 ? '本地':'外地';
                    }},
                {field:"drive",title:"驱动类型",formatter:function(value,row,index){
                        return value == 1 ? '四驱':'二驱';
                    }},
                {field:"nationName",title:"国别"},
                {field:"elseName",title:"其他配置"},
                {field:"ownerName",title:"车主"},
                {field:"storeName",title:"店铺"},
                {field:"carLicense",title:"上牌时间"},
                {field:"areaName",title:"地区"},
                {field:"123",title:"操作",width:"80px",formatter:function(value,row,index){
                        return '<a href="javascript:detection('+row.id+')">配置详情</a> | <a href="javascript:findImg('+row.id+')">查看图片</a>| <a href="javascript:editCaar('+row.id+')">修改</a>';
                    }}
            ]
        })
    }
    
    function findImg(id) {
        var  url = "../feignNav/toimg?id="+id;
        var dialog = bootbox.dialog({
            title: '图片管理',
            message: createAddContent(url),
            size: 'large',
            buttons: {
                cancel: {
                    label: "关闭",
                    className: 'btn-danger',
                    callback: function(){
                        console.log('Custom cancel clicked');
                    }
                }
            }
        });
    }

    function deleteAll(){
        var ids = '';
        var cars = $("#carTable").bootstrapTable('getSelections');
        for (var i = 0; i < cars.length; i++) {
            ids += ids == '' ? cars[i].id : ','+cars[i].id;
        }
        deleteCar(ids);
    }

    function deleteCar(ids){
        bootbox.confirm({
            size:"small",
            message:"你确定删除吗？",
            callback:function(result){
                if(result){
                    $.ajax({
                        url:"http://192.168.1.110:9999/Car/deleteCar",
                        type:"post",
                        data:{
                            id:ids
                        },
                        dataType:"json",
                        success:function(data){
                            if(data){
                                initCarTable();
                            }else{
                                bootbox.alert({
                                    size:"small",
                                    tutle:"提示",
                                    message:"删除失败"
                                })
                            }
                        }
                    })
                }
            }
        })
    }
    
    
    function detection(id) {
        var url = "../feignNav/todetection";
        var dialog = bootbox.dialog({
            title: '259项专业检测',
            message: createAddContent(url),
            size: 'large',
            buttons: {
                cancel: {
                    label: "关闭",
                    className: 'btn-danger',
                    callback: function () {
                        console.log('Custom cancel clicked');
                    }
                }
            }
        })
    }

    function openAdd(){
        var  url = "../feignNav/toaddCar";
        var dialog = bootbox.dialog({
            title: '新增汽车',
            message: createAddContent(url),
            size: 'large',
            buttons: {
                cancel: {
                    label: "关闭",
                    className: 'btn-danger',
                    callback: function(){
                        console.log('Custom cancel clicked');
                    }
                },
                ok: {
                    label: "保存",
                    className: 'btn-info',
                    callback: function(){
                        $.ajax({
                            url:'../book/addBook.do',
                            type:'post',
                            data:$("#carForm").serialize(),
                            success:function(){
                                alert("新增成功")
                                console.log('Custom cancel clicked');
                                //searchBtn();
                            }
                        })
                    }
                }
            }
        });
    }

    var res;
    function createAddContent(url){
        $.ajax({
            url:url,
            async:false,
            success:function(data){
                res = data;
            }
        });
        return res;
    }

    function editCaar(id) {
        //打开回显数据
        openUpdate();
        //查询回显数据
        findBrand();
        findSeries();
        findCarAge();
        carModel();
        mileageId();
        carSeat();
        carFuel();
        color();
        nationId();
        elseId();
        //ownerId();
        storeId();
        areaId();
        carCerId();
        gearbox();
        license();
        drive();
        //回显数据
        $.ajax({
            url:"",
            type:"post",
            data:{
                id:id
            },
            success:function (data) {
                $("#id").val(data.id);
                $("#carName").val(data.carName);
                $("#price").val(data.price);
                $("#brandId").val(data.brandId);
                $("#carAgeId").val(data.carAgeId);
                $("#series").val(data.series);
                $("#gearbox").val(data.gearbox);
                $("#carModel").val(data.carModel);
                $("#mileageId").val(data.mileageId);
                $("#carCerId").val(data.carCerId);
                $("#carSeat").val(data.carSeat);
                $("#carFuel").val(data.carFuel);
                $("#color").val(data.color);
                $("#license").val(data.license);
                $("#drive").val(data.drive);
                $("#nationId").val(data.nationId);
                $("#elseId").val(data.configuration);
                $("#areaId").val(data.areaId);
                $("#storeId").val(data.storeId);
                $("#carLicense").val(data.carLicense);
                $("#ownerId").val(data.ownerId);
            }
        })
    }


    function openUpdate(id){
        var  url = "../feignNav/toupdateCar"+id;
        var dialog = bootbox.dialog({
            title: '修改汽车信息',
            message: createAddContent(url),
            size: 'large',
            buttons: {
                cancel: {
                    label: "关闭",
                    className: 'btn-danger',
                    callback: function(){
                        console.log('Custom cancel clicked');
                    }
                },
                ok: {
                    label: "保存",
                    className: 'btn-info',
                    callback: function(){
                        $.ajax({
                            url:'../book/addBook.do',
                            type:'post',
                            data:$("#bookForm").serialize(),
                            success:function(){
                                alert("修改成功")
                                console.log('Custom cancel clicked');
                                initCarTable();
                            }
                        })
                    }
                }
            }
        });
    }

    function findBrand(){ //品牌回显
        $.ajax({
            url:"http://192.168.1.110:9999/Brand/queryBrand",
            type:"get",
            dataType:"json",
            success:function (data) {
                var op = "<option>请选择</option>";
                for (var i = 0;i<data.length;i++) {
                    op += "<option type='text' name='"+data[i].brandId+"' value='"+data[i].id+"'>"+data[i].brandName+"</option>"
                }
                $("#brandId").html(op);
            }
        })
    }
    function drive(){ //驱动类型
        $.ajax({
            url:"http://192.168.1.110:9999/Car/queryOuther",
            type:"get",
            dataType:"json",
            success:function (data) {
                var op = "<option>请选择</option>";
                for (var i = 0;i<data.drive.length;i++) {
                    op += "<option type='text' name='drive' value='"+data.drive[i].codeId+"'>"+data.drive[i].text+"</option>"
                }
                $("#drive").html(op);
            }
        })
    }
    function license(){ //车牌所在地
        $.ajax({
            url:"http://192.168.1.110:9999/Car/queryOuther",
            type:"get",
            dataType:"json",
            success:function (data) {
                var op = "<option>请选择</option>";
                for (var i = 0;i<data.license.length;i++) {
                    op += "<option type='text' name='license' value='"+data.license[i].codeId+"'>"+data.license[i].text+"</option>"
                }
                $("#license").html(op);
            }
        })
    }

    function findCarAge(){ //车龄
        $.ajax({
            url:"http://192.168.1.110:9999/Car/queryOuther",
            type:"get",
            dataType:"json",
            success:function (data) {
                var op = "<option>请选择</option>";
                for (var i = 0;i<data.carAge.length;i++) {
                    op += "<option type='text' name='carAgeId' value='"+data.carAge[i].codeId+"'>"+data.carAge[i].text+"</option>"
                }
                $("#carAgeId").html(op);
            }
        })
    }
    function gearbox(){ //变速箱
        $.ajax({
            url:"http://192.168.1.110:9999/Car/queryOuther",
            type:"get",
            dataType:"json",
            success:function (data) {
                var op = "<option>请选择</option>";
                for (var i = 0;i<data.gearbox.length;i++) {
                    op += "<option type='text' name='gearbox' value='"+data.gearbox[i].codeId+"'>"+data.gearbox[i].text+"</option>"
                }
                $("#gearbox").html(op);
            }
        })
    }
    function findSeries(){ //车系列回显
        $.ajax({
            url:"http://192.168.1.110:9999/Series/querySeries",
            data:{
                id:1
            },
            type:"get",
            dataType:"json",
            success:function (data) {
                var op = "<option>请选择</option>";
                for (var i = 0;i<data.length;i++) {
                    op += "<option type='text' name='series' value='"+data[i].codeId+"'>"+data[i].seriesName+"</option>"
                }
                $("#series").html(op);
            }
        })
    }
    function carModel(){ //车型
        $.ajax({
            url:"http://192.168.1.110:9999/Car/queryOuther",
            type:"get",
            dataType:"json",
            success:function (data) {
                var op = "<option>请选择</option>";
                for (var i = 0;i<data.model.length;i++) {
                    op += "<option type='text' name='carModel' value='"+data.model[i].codeId+"'>"+data.model[i].text+"</option>"
                }
                $("#carModel").html(op);
            }
        })
    }
    function mileageId(){ //里程表
        $.ajax({
            url:"http://192.168.1.110:9999/Car/queryOuther",
            type:"get",
            dataType:"json",
            success:function (data) {
                var op = "<option>请选择</option>";
                for (var i = 0;i<data.mileage.length;i++) {
                    op += "<option type='text' name='mileageId' value='"+data.mileage[i].codeId+"'>"+data.mileage[i].text+"</option>"
                }
                $("#mileageId").html(op);
            }
        })
    }
    function carCerId(){ //排量表
        $.ajax({
            url:"http://192.168.1.110:9999/Car/queryOuther",
            type:"get",
            dataType:"json",
            success:function (data) {
                var op = "<option>请选择</option>";
                for (var i = 0;i<data.cer.length;i++) {
                    op += "<option type='text' name='carCerId' value='"+data.cer[i].codeId+"'>"+data.cer[i].text+"</option>"
                }
                $("#carCerId").html(op);
            }
        })
    }
    function carSeat(){ //座位数
        $.ajax({
            url:"http://192.168.1.110:9999/Car/queryOuther",
            type:"get",
            dataType:"json",
            success:function (data) {
                var op = "<option>请选择</option>";
                for (var i = 0;i<data.carSeat.length;i++) {
                    op += "<option type='text' name='carSeat' value='"+data.carSeat[i].codeId+"'>"+data.carSeat[i].text+"</option>"
                }
                $("#carSeat").html(op);
            }
        })
    }
    function carFuel(){ //燃油类型
        $.ajax({
            url:"http://192.168.1.110:9999/Car/queryOuther",
            type:"get",
            dataType:"json",
            success:function (data) {
                var op = "<option>请选择</option>";
                for (var i = 0;i<data.carFuel.length;i++) {
                    op += "<option type='text' name='carFuel' value='"+data.carFuel[i].id+"'>"+data.carFuel[i].text+"</option>"
                }
                $("#carFuel").html(op);
            }
        })
    }
    function color(){ //颜色
        $.ajax({
            url:"http://192.168.1.110:9999/Car/queryOuther",
            type:"get",
            dataType:"json",
            success:function (data) {
                var op = "<option>请选择</option>";
                for (var i = 0;i<data.color.length;i++) {
                    op += "<option type='text' name='color' value='"+data.color[i].id+"'>"+data.color[i].text+"</option>"
                }
                $("#color").html(op);
            }
        })
    }
    function nationId(){ //国别表 。。。
        $.ajax({
            url:"http://192.168.1.110:9999/Car/queryOuther",
            type:"get",
            dataType:"json",
            success:function (data) {
                var op = "<option>请选择</option>";
                for (var i = 0;i<data.nation.length;i++) {
                    op += "<option type='text' name='nationId' value='"+data.nation[i].codeId+"'>"+data.nation[i].text+"</option>"
                }
                $("#nationId").html(op);
            }
        })
    }
    function elseId(){ //其他配置 。。。
        $.ajax({
            url:"http://192.168.1.110:9999/Car/queryOuther",
            type:"get",
            dataType:"json",
            success:function (data) {
                var op = "<option>请选择</option>";
                for (var i = 0;i<data.configuration.length;i++) {
                    op += "<option type='text' name='elseId' value='"+data.configuration[i].id+"'>"+data.configuration[i].text+"</option>"
                }
                $("#elseId").html(op);
            }
        })
    }
    function storeId(){ //车辆所在店铺表。。。
        $.ajax({
            url:"http://192.168.1.110:9999/Store/queryStore",
            type:"get",
            dataType:"json",
            success:function (data) {
                var op = "<option>请选择</option>";
                for (var i = 0;i<data.length;i++) {
                    op += "<option type='text' name='storeId' value='"+data[i].id+"'>"+data[i].storName+"</option>"
                }
                $("#storeId").html(op);
            }
        })
    }
    function areaId(){ //地区。。。
        $.ajax({
            url:"http://192.168.1.110:9999/Area/queryArea",
            type:"get",
            dataType:"json",
            success:function (data) {
                var op = "<option>请选择</option>";
                for (var i = 0;i<data.length;i++) {
                    op += "<option type='text' name='areaId' value='"+data[i].id+"'>"+data[i].area+"</option>"
                }
                $("#areaId").html(op);
            }
        })
    }
</script>
</html>