<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/bootstrap3/js/jquery-1.9.1.min.js"></script>
    <script src="../js/bootstrap3/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../js/bootstrap3/css/bootstrap.css">

    <script src="../js/bootstrap-treeview/bootstrap-treeview.min.js"></script>
    <link rel="stylesheet" href="../js/bootstrap-treeview/bootstrap-treeview.min.css">

    <!-- 选项卡插件 -->
    <script src="../js/bootStrap-addTabs/bootstrap.addtabs.min.js"></script>
    <link rel="stylesheet" href="../js/bootStrap-addTabs/bootstrap.addtabs.css">

    <!-- 表格插件 -->
    <script src="../js/bootstrap-table/bootstrap-table.js"></script>
    <link rel="stylesheet" href="../js/bootstrap-table/bootstrap-table.css">
    <script src="../js/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>

    <!-- 时间插件 -->
    <script src="../js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <link rel="stylesheet" href="../js/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
    <script src="../js/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>

    <!-- 弹框插件 -->
    <script src="../js/bootstrap-bootbox/bootbox.js"></script>
</head>
<body>
<div id="outcar"></div>
</body>
<script>

    $(function () {
        initoutCarTable();
    })

    function initoutCarTable(){
        $("#outcar").bootstrapTable({
            url:"http://192.168.1.101:8767/deal/queryDealCar",
            toolbar:"#toolbar",
            //search:true,//是否显示搜索框

            columns:[
                {checkbox:true},
                {field:"id",title:"主键Id"},
                {field:"carName",title:"车名"},
                {field:"brandName",title:"品牌"},
                {field:"seriesName",title:"车系"},
                {field:"price",title:"价格",onDblClickRow:function(value,row,index){
                        alert(1)
                    }},
                {field:"carAgeName",title:"车龄"},
                {field:"createTime",title:"变速箱",formatter:function(value,row,index){
                        return value == 1 ? '自动':'手动';
                    }},
                {field:"carModelName",title:"车型"},
                {field:"mileageName",title:"里程表"},
                {field:"carCerNmae",title:"排量表"},
                {field:"carSeatName",title:"座位数表"},
                {field:"carFuelName",title:"燃油类型"},
                {field:"colorName",title:"颜色"},
                {field:"license",title:"牌照",formatter:function(value,row,index){
                        return value == 1 ? '本地':'外地';
                    }},
                {field:"drive",title:"驱动类型",formatter:function(value,row,index){
                        return value == 1 ? '四驱':'二驱';
                    }},
                {field:"nationName",title:"国别"},
                {field:"elseName",title:"其他配置"},
                {field:"ownerName",title:"车主"},
                {field:"storeName",title:"店铺"},
                {field:"carLicense",title:"上牌时间"},
                {field:"areaName",title:"地区"}
            ]
        })
    }
</script>
</html>